*{
    margin: 0;
    padding: 0;
}
#contents{
    background: url("city.png") no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
    margin : 0 auto;
    position: relative;
}
h1{
    color: #fff;
    font-size: 120px;
    text-shadow: 2px 3px 0 #00f;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
p{
    width: 300px;
    border: 1px #ccc solid;
    padding: 10px;
}
b{
    color: blue;
    font-size: 30px;
}
#pos1{
    position: absolute;
    left: 50px;
    top: 50px;
}
#pos2{
    position: absolute;
    right: 100px;
    top: 100px;
}
#pos3{
    position: absolute;
    left: 100px;
    bottom: 100px;
}